In [17]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [21]:
from src.data.database import ChromaUtils

/home/mayank-soni/code/secondbrain/data/chroma

In [23]:
from src.data.telegram import TelegramReader

In [27]:
telegramreader = TelegramReader()

In [28]:
telegramreader.df

       name  ...                                           messages
0    AIAP12  ...  {'id': 136009, 'type': 'service', 'date': '202...
1    AIAP12  ...  {'id': 136010, 'type': 'service', 'date': '202...
2    AIAP12  ...  {'id': 136011, 'type': 'service', 'date': '202...
3    AIAP12  ...  {'id': 136013, 'type': 'service', 'date': '202...
4    AIAP12  ...  {'id': 136014, 'type': 'service', 'date': '202...
..      ...  ...                                                ...
345  AIAP12  ...  {'id': 136539, 'type': 'message', 'date': '202...
346  AIAP12  ...  {'id': 136540, 'type': 'message', 'date': '202...
347  AIAP12  ...  {'id': 136541, 'type': 'message', 'date': '202...
348  AIAP12  ...  {'id': 136542, 'type': 'message', 'date': '202...
349  AIAP12  ...  {'id': 136543, 'type': 'message', 'date': '202...

[350 rows x 4 columns]

In [31]:
telegramreader.text_entities

0                                                     []
1                                                     []
2                                                     []
3                                                     []
4                                                     []
                             ...
345    [{'type': 'plain', 'text': 'WEF summit talks. ...
346    [{'type': 'mention', 'text': '@szhpullysystem'...
347                [{'type': 'plain', 'text': 'Toilet'}]
348    [{'type': 'plain', 'text': 'iOS learning platf...
349                                                   []
Name: text_entities, Length: 350, dtype: object

In [2]:
import pandas as pd
import numpy as np

In [3]:
import tiktoken

from openai.embeddings_utils import get_embedding

In [4]:
datafile_path = "./data/result.json"

In [5]:
df = pd.read_json(datafile_path)


# df = pd.read_csv(datafile_path)
# df["embedding"] = df.embedding.apply(eval).apply(np.array)

In [8]:
# embedding model parameters
embedding_model = "text-embedding-ada-002"
embedding_encoding = "cl100k_base"  # this the encoding for text-embedding-ada-002
max_tokens = 8000  # the maximum for text-embedding-ada-002 is 8191

In [9]:
df

,name,type,id,messages
0,AIAP12,private_group,828903753,"{'id': 136009, 'type': 'service', 'date': '202..."
1,AIAP12,private_group,828903753,"{'id': 136010, 'type': 'service', 'date': '202..."
2,AIAP12,private_group,828903753,"{'id': 136011, 'type': 'service', 'date': '202..."
3,AIAP12,private_group,828903753,"{'id': 136013, 'type': 'service', 'date': '202..."
4,AIAP12,private_group,828903753,"{'id': 136014, 'type': 'service', 'date': '202..."
...,...,...,...,...
345,AIAP12,private_group,828903753,"{'id': 136539, 'type': 'message', 'date': '202..."
346,AIAP12,private_group,828903753,"{'id': 136540, 'type': 'message', 'date': '202..."
347,AIAP12,private_group,828903753,"{'id': 136541, 'type': 'message', 'date': '202..."
348,AIAP12,private_group,828903753,"{'id': 136542, 'type': 'message', 'date': '202..."
349,AIAP12,private_group,828903753,"{'id': 136543, 'type': 'message', 'date': '202..."

In [14]:
df.messages.iloc[10]

{'id': 136020,
 'type': 'message',
 'date': '2023-02-22T11:28:18',
 'date_unixtime': '1677036498',
 'from': 'paul',
 'from_id': 'user1139710027',
 'text': 'Hihi, where did u guys went',
 'text_entities': [{'type': 'plain', 'text': 'Hihi, where did u guys went'}]}

In [27]:
dict_df = pd.DataFrame.from_records(df.messages.values)

In [30]:
dict_df.sample(10).T

,336,76,239,28,190,105,32,108,30,78
id,136505,136105,136336,136038,136269,136141,136043,136144,136041,136108
type,message,message,message,message,message,message,message,message,service,message
date,2023-04-11T10:24:05,2023-02-28T23:00:07,2023-03-23T12:28:44,2023-02-23T20:22:03,2023-03-15T16:44:02,2023-03-03T15:26:09,2023-02-23T20:31:22,2023-03-03T16:09:26,2023-02-23T20:30:22,2023-03-01T12:23:37
date_unixtime,1681179845,1677596407,1679545724,1677154923,1678869842,1677828369,1677155482,1677830966,1677155422,1677644617
actor,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mayank Soni,NaN
actor_id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,user565286338,NaN
action,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,invite_members,NaN
inviter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
text,no thanks i will also double it and give it to...,Haha I like how they close it as not planned,"[{'type': 'link', 'text': 'https://github.com/...","[{'type': 'link', 'text': 'https://www.finews....",,[03 March 2023 15:16:22 | 2023-03-03 07:16:22....,"[{'type': 'bot_command', 'text': '/start_roll_...","[{'type': 'link', 'text': 'https://www.straits...",,
text_entities,"[{'type': 'plain', 'text': 'no thanks i will a...","[{'type': 'plain', 'text': 'Haha I like how th...","[{'type': 'link', 'text': 'https://github.com/...","[{'type': 'link', 'text': 'https://www.finews....",[],"[{'type': 'plain', 'text': '03 March 2023 15:1...","[{'type': 'bot_command', 'text': '/start_roll_...","[{'type': 'link', 'text': 'https://www.straits...",[],[]
from,Wayne Lau,Wayne Lau,paul,Hanafi Haffidz,Wayne Lau,paul,Mayank Soni,JF Koh,NaN,paul
from_id,user42283285,user42283285,user1139710027,user44489326,user42283285,user1139710027,user565286338,user1268174559,NaN,user1139710027
reply_to_message_id,NaN,136104.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
edited,2023-04-11T18:31:55,NaN,2023-03-23T12:32:20,NaN,NaN,NaN,NaN,NaN,NaN,2023-03-01T12:33:51
edited_unixtime,1681209115,NaN,1679545940,NaN,NaN,NaN,NaN,NaN,NaN,1677645231
members,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,[WhosInBot],NaN
via_bot,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
file,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,files/dockube_related_books.zip
mime_type,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,application/zip
photo,NaN,NaN,NaN,NaN,photos/photo_21@15-03-2023_16-44-02.jpg,NaN,NaN,NaN,NaN,NaN
width,NaN,NaN,NaN,NaN,614.0,NaN,NaN,NaN,NaN,NaN
height,NaN,NaN,NaN,NaN,577.0,NaN,NaN,NaN,NaN,NaN
forwarded_from,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
thumbnail,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
message_id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
dict_df.text_entities.iloc[28]

[{'type': 'link',
  'text': 'https://www.finews.asia/people/28933-grab-nabs-ex-gic-chief-economist'},
 {'type': 'plain',
  'text': " this was what i was sharing with some of u guys earlier. grab nabs this guy, then aisg nabbed him from grab haha. he's the head of the product team at lvl 5"}]

In [82]:
dict_df1 = pd.DataFrame.from_records(dict_df.text_entities.values)

In [83]:
dict_df1

,0,1,2,3,4,5,6,7,8,9
0,None,None,None,None,None,None,None,None,None,None
1,None,None,None,None,None,None,None,None,None,None
2,None,None,None,None,None,None,None,None,None,None
3,None,None,None,None,None,None,None,None,None,None
4,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...
345,"{'type': 'plain', 'text': 'WEF summit talks. M...",None,None,None,None,None,None,None,None,None
346,"{'type': 'mention', 'text': '@szhpullysystem'}","{'type': 'plain', 'text': ' where u sia, i tot...",None,None,None,None,None,None,None,None
347,"{'type': 'plain', 'text': 'Toilet'}",None,None,None,None,None,None,None,None,None
348,"{'type': 'plain', 'text': 'iOS learning platfo...",None,None,None,None,None,None,None,None,None
349,None,None,None,None,None,None,None,None,None,None

In [99]:
def text_entities_get_keys(text_entities: list) -> list:
    keys = set()
    values = []
    for dic in text_entities:
        for key, value in dic.items():
            keys.add(key)
            if key == "user_id":
                print(text_entities, value)
    return keys, values


total = set()
for val, vale1 in dict_df.text_entities.apply(text_entities_get_keys).values:
    total = total.union(val)
    if val == "user_id":
        print(vale1)

[{'type': 'mention_name', 'text': 'Mayank', 'user_id': 565286338}, {'type': 'plain', 'text': ' thats why I was saying the junior programmers are in trouble'}] 565286338
[{'type': 'mention_name', 'text': 'Mayank AIAP', 'user_id': 565286338}] 565286338
[{'type': 'mention_name', 'text': 'Mayank AIAP', 'user_id': 565286338}, {'type': 'plain', 'text': ' : \nso this color would work, but not without the unsqueze:\nimg_pil = '}, {'type': 'link', 'text': 'Image.open'}, {'type': 'plain', 'text': '(imagefp)\nimg_tensor = pil_to_tensor(img_pil)\nprint(img_tensor.shape)\n\nedge_filter = torch.tensor(\n    [[[[ 0,0,0],\n       [ 0,1,0 ],\n       [ 0,0,0]]]]).float()\n\nimg_tensor_ = F.conv2d(img_tensor.unsqueeze(1), edge_filter)\nprint(img_tensor_.shape)\n\nimg_tensor_.clamp_min_(0).clamp_max_(1)\nprint(img_tensor_.shape)\n\nimg = img_tensor_[:,0,:,:]\ntensor_to_pil(img)'}] 565286338
[{'type': 'mention_name', 'text': 'Shu Ying', 'user_id': 5362962200}] 5362962200
[{'type': 'mention_name', 'text': 'Mayank AIAP', 'user_id': 565286338}, {'type': 'plain', 'text': ' @jia hao ah it was wordnet synset i was referring to'}] 565286338

In [93]:
total

{'text', 'type', 'user_id'}

In [110]:
def text_entities_get_type(text_entities: list) -> list:
    types = set()
    val = ""
    for dic in text_entities:
        for key, value in dic.items():
            if key == "type":
                val = value
    if val == "bot_command":
        print(text_entities)
    return val


total_types = set()
for val in dict_df.text_entities.apply(text_entities_get_type).values:
    total_types = total_types | set([val])

[{'type': 'bot_command', 'text': '/start_roll_call'}]
[{'type': 'bot_command', 'text': '/in'}]
[{'type': 'bot_command', 'text': '/in@WhosInBot'}]

In [108]:
total_types

{'', 'bot_command', 'code', 'link', 'mention_name', 'plain'}

In [74]:
dict_df.text_entities.apply(len).value_counts()

1     242
2      41
0      40
3      14
6       3
7       3
4       3
9       2
5       1
10      1
Name: text_entities, dtype: int64

In [79]:
dict_df[dict_df.text_entities.apply(len) == 10]["text_entities"].values

array([list([{'type': 'plain', 'text': 'KLASS \n'}, {'type': 'link', 'text': 'https://forms.gle/2tg4coHPWhU4g7Cc6'}, {'type': 'plain', 'text': ' \n\nBIPO \n'}, {'type': 'link', 'text': 'https://forms.gle/CiiKp46Sh1CgQXhG8'}, {'type': 'plain', 'text': ' \n\nAI PRODUCTS \n'}, {'type': 'link', 'text': 'http://shorturl.at/mqtBU'}, {'type': 'plain', 'text': ' \n\nBMYLLM \n'}, {'type': 'link', 'text': 'https://docs.google.com/forms/d/1VgMsxK6nHBYlTVktUFVUWq1OfoIEwmifR6Fxr8Oz28s/viewform?edit_requested=true'}, {'type': 'plain', 'text': ' \n\nAI LEARNING PLATFORM '}, {'type': 'link', 'text': 'https://docs.google.com/forms/d/1iuF5MPwa9lITNJJ21PeFHbWsAaX7wMj7FS1sNCbJlIA/viewform?edit_requested=true'}])],
      dtype=object)

In [ ]:
.iloc[28]

In [ ]:
dict_df[dict_df["text"].apply(type) != str]

In [41]:
dict_df.text_entities.iloc[28]

[{'type': 'link',
  'text': 'https://www.finews.asia/people/28933-grab-nabs-ex-gic-chief-economist'},
 {'type': 'plain',
  'text': " this was what i was sharing with some of u guys earlier. grab nabs this guy, then aisg nabbed him from grab haha. he's the head of the product team at lvl 5"}]

In [56]:
total = ""
a = "".join([total + str(value) for value in dict_df.text.iloc[28]])

In [58]:
a

"{'type': 'link', 'text': 'https://www.finews.asia/people/28933-grab-nabs-ex-gic-chief-economist'} this was what i was sharing with some of u guys earlier. grab nabs this guy, then aisg nabbed him from grab haha. he's the head of the product team at lvl 5"

In [60]:
dict_df.text.iloc[336]

'no thanks i will also double it and give it to the next person so that guy needs to present 4 now'

In [44]:
dict_df.text_entities.iloc[336]

[{'type': 'plain',
  'text': 'no thanks i will also double it and give it to the next person so that guy needs to present 4 now'}]

In [ ]:
# load & inspect dataset
input_datapath = "data/fine_food_reviews_1k.csv"  # to save space, we provide a pre-filtered dataset
df = pd.read_csv(input_datapath, index_col=0)
df = df[[, "type", "id", "messages", "Summary", "Text"]]
df = df.dropna()
df["combined"] = (
    "Title: " + df.Summary.str.strip() + "; Content: " + df.Text.str.strip()
)
df.head(2)